<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITE_MAPS_PATH</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>anhnd.listener.MyContextServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginSerlet</servlet-name>
        <servlet-class>anhnd.controller.LoginSerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>anhnd.controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TriggerControllerServlet</servlet-name>
        <servlet-class>anhnd.controller.TriggerControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSerlet</servlet-name>
        <url-pattern>/LoginSerlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TriggerControllerServlet</servlet-name>
        <url-pattern>/TriggerControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>BeanDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
